#porta para api
PORT_API=8000

APPLICATION_TOKEN = '1'
COMPANY_TOKEN = '1'		
API_DOMAIN = 'https://sandbox.mercos.com/api'


 
HOST='192.168.100.0'
PORT_DB=3306
USER=''
PASSWORD=''
DB_ESTOQUE=''
DB_VENDAS =''
DB_PUBLICO=''
DB_FINANCEIRO =''
DB_API=''

# url conexao broker
BROKER_URL='amqp://localhost:5672'
QUEUE_NAME=""
EXCHANGE_NAME=""

IMPORTAR_PEDIDOS=" */10 * * * * "
EVENTOS=1


RECEIVEORDER="*/1 * * * *"
JOBS=0
EVENTS=0