#porta para api
PORT_API=8000

APPLICATION_TOKEN = ''
COMPANY_TOKEN = ''		
API_DOMAIN = 'https://sandbox.mercos.com/api'


HOST='192.168.100.0'
PORT_DB=3306
USER=''
PASSWORD=''
DB_ESTOQUE=''
DB_VENDAS =''
DB_PUBLICO=''
DB_FINANCEIRO =''
DB_API=''

# url conexao broker
BROKER_URL='amqp://localhost:5672'
QUEUE_NAME="mercos"
EXCHANGE_NAME="sistema"


ENVIAR_PRODUTOS='*/50 6-20 * * 1-6'
IMPORTAR_PEDIDOS="*/10 6-20 * * 1-6"
ENVIAR_PRECOS='*/50 6-20 * * 1-6'
ENVIAR_ESTOQUE= '*/50 6-20 * * 1-6'


JOBS=1
EVENTS=0